[ req ]                                                                                                                                                                                                                          
default_bits        = 1024
default_keyfile     = server.key
distinguished_name  = req_distinguished_name
string_mask         = nombstr
req_extensions      = v3_req

[ req_distinguished_name ]                                                                                                                                                                                                       
CN            = supplied
emailAddress  = supplied
O             = supplied
OU            = supplied
C             = supplied
ST            = supplied
L             = supplied

[ v3_req ]
nsCertType        = server
basicConstraints  = critical,CA:false

[ ca ]
default_ca = default_CA

[ default_CA ]
dir              = %CADB_DIR%
new_certs_dir    = $dir/ca.db.certs
database         = $dir/ca.db.index
serial           = $dir/ca.db.serial
RANDFILE         = $dir/random-bits
certificate      = $dir/ca.pem
private_key      = $dir/ca.key
default_days     = 3650
default_crl_days = 30
default_md       = md5
preserve         = no
x509_extensions  = server_cert
policy           = policy_anything
email_in_dn      = yes

[ policy_anything ]
CN            = supplied
emailAddress  = supplied
O             = supplied
OU            = supplied
C             = supplied
ST            = supplied
L             = supplied

[ server_cert ]
authorityKeyIdentifier = keyid:always
extendedKeyUsage       = serverAuth,clientAuth,msSGC,nsSGC
basicConstraints       = critical,CA:false
