[ req ]                                                                                                                                                                                                                          
default_bits                    = 2048
default_keyfile                 = ca.key
distinguished_name              = req_distinguished_name
x509_extensions                 = v3_ca
string_mask                     = nombstr
req_extensions                  = v3_req

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
countryName_default             = CZ
countryName_min                 = 2
countryName_max                 = 2
stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = Plzensky kraj
localityName                    = Locality Name (eg, city)
localityName_default            = Plzen
0.organizationName              = Organization Name (eg, company)
0.organizationName_default      = OpenIndiana Czech
organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default  = OpenIndiana Czech Certification Authority
commonName                      = Common Name (eg, MD Root CA)
commonName_default              = OpenIndiana Czech Root CA
commonName_max                  = 64
emailAddress                    = Email Address
emailAddress_default            = ca@openindiana.cz
emailAddress_max                = 40

[ v3_ca ]
basicConstraints                = critical,CA:true
subjectKeyIdentifier            = hash

[ v3_req ]
nsCertType                      = objsign,email,server

